@tailwind components;
@tailwind utilities;

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.MuiDrawer-paper::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.MuiDrawer-paper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.slide-left {
  -webkit-animation: slide-left 1.2s ease-in-out both;
  animation: slide-left 1.2s ease-in-out both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(400px);
    transform: translateX(400px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(400px);
    transform: translateX(400px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.bgCircles {
  background-color: #edf3f6;
  opacity: 1;
  background-image: radial-gradient(circle at center center, #232a58, #edf3f6),
    repeating-radial-gradient(
      circle at center center,
      #232a58,
      #232a58,
      39px,
      transparent 78px,
      transparent 39px
    );
  background-blend-mode: multiply;
}
